
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_0_0.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_3_1.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_3_1.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_3_1.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_3_1.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_1_1.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
/.idea/
/target/
target/classes/com/mkyong/examples/MagicBuilder.class
target/classes/com/mkyong/examples/MessageBuilder.class
target/test-classes/com/mkyong/examples/TestMagicBuilder.class
target/test-classes/com/mkyong/examples/TestMessageBuilder.class
